body {
    text-align: center;
    background-image: url('../ESCUDO.JPG');
    background-repeat: repeat;
    font-family: Arial, sans-serif;
}


header {
    margin-top: 20px;
}


h1, p {
    background-color: rgb(231, 234, 240);
    color: black;
    font-size: 22px;
    padding: 10px;
    margin: 20px auto;
    width: 85%;
}


button {
    display: block;
    margin: 10px auto;
    padding: 12px 30px;
    font-size: 18px;
    background-color: rgb(60,60,60);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: rgb(120,120,120);
}


#contenedorBarra {
    width: 90%;
    height: 25px;
    background-color: #064de6;
    border-radius: 20px;
    overflow: hidden;
    margin: 20px auto;
}

#barra {
    width: 0%;
    height: 100%;
    background-color: red;
    border-radius: 20px;

    
    transition: width 0.5s ease, background-color 0.5s ease;
}


.resultado {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}


footer {
    margin-top: 40px;
    color: white;
}




@media (min-width: 480px) {
    h1, p {
        font-size: 24px;
        width: 80%;
    }

    button {
        font-size: 20px;
    }
}


@media (min-width: 768px) {
    h1, p {
        font-size: 26px;
        width: 70%;
    }

    #contenedorBarra {
        width: 70%;
    }
}


@media (min-width: 1024px) {
    h1, p {
        font-size: 28px;
        width: 60%;
    }

    button {
        width: 40%;
    }
}


@media (min-width: 1280px) {
    h1, p {
        width: 50%;
    }

    #contenedorBarra {
        width: 50%;
    }
}